
<div class="card border-dark text-center p-4 mx-4 mb-4 bg-dark text-light">
  <h1 class="h1 mb-3 font-weight-normal text-center">Update a student</h1>
  <%= form_with(model: @user, local: true) do |form| %>

    <div class="field">
      <%= form.label :First_name %>
      <%= form.text_field :first_name %>
    </div><br>

    <div class="field">
      <%= form.label :Last_name %>
      <%= form.text_field :last_name %>
    </div><br>
    
    <div class="actions">
      <%= form.submit "Update", class:"btn btn-lg btn-success" %>
    </div>

  <% end %>
</div>