<p id="notice"><%= notice %></p>

<!-- Header section -->
<header>
  <h1 class="text-center">
    Student Random Draw
  </h1>
</header>

<!-- Main section -->
<main>
  <!-- New member form -->
  <div class="card border-dark text-center p-4 mx-4 mb-4 bg-primary">
  <h2>Ajouter un(e) participant(e)</h2>

  <%= form_tag url_for(action: 'create'), method: "post" do %>
    <%= label_tag 'Prénom'%>
		  <%= text_field_tag(:first_name)%>
        <%= label_tag 'Nom'%>
		  <%= text_field_tag(:last_name)%>
      <%= submit_tag "Ajouter aux participants", class:"btn btn-success" %>
	<% end %>
  </div>


  <!-- Member list -->
  <div class="card border-dark text-center p-4 mx-4 mb-4 bg-warning">
    <h2>Participants actuels</h2>
    </br></br>
      <div class="member-list">
        <% @users.each do |user| %>
        <div class="card d-inline-flex p-4 mx-2 mb-4 bg-info bg-info">
          <%= user.first_name %>  <%= user.last_name %>
          <tr>
            <td><%= link_to 'Edit', edit_user_path(user), class:"btn btn-primary" %></td>
            <td><%= link_to 'Destroy', user, class:"btn btn-danger" ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
            
          </tr>
        </div>
        <% end %>
      </div>
  </div>
</main>


